/*menu*/




* {
    box-sizing: border-box
}

body {
    background-color: #f2f2d9;
}

img {
    width: 100%
}

h1 {
    margin-top: 5vw;
    margin-left: 47vw
}

.hidden {}

#menuknap {
    display: none;
    font-size: 2.5em;

}


header {
    position: fixed;
    left: 0;
    background-color: #c9e6f2;
    width: 100%;
    top: 0;


}

nav {
    color: black;
    text-align: right;


}

a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    padding: 7px;



}

a:hover {
    text-decoration: underline;
}

#menu a {
    display: inline-block;
    /* This makes the menu vertical */

}

#menu {
    list-style-type: none;
    transition: transform .3s;
}



/*menuslut*/

/*splash*/
#splash {
    width: 99vw;
    height: 100vh;
    background-image: url(billeder/bag2.png);
    background-size: cover;
    background-position: 5%;
    max-width: none;
}

/*splashslut*/

#port .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vw;
    background-color: white;
}




#port .box {
    padding: 50px;
    margin: 30px;
    text-align: center;
    box-sizing: content-box;
    flex-basis: 400px;
    flex-grow: 2;
    background-color: #c9e6f2;
    width: 15%;
    height: 20%;

}





#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vw;
    background-color: white;
    padding: 1.5rem;

}

#om .col {
    flex-grow: 2;
    flex-basis: 100px;
    background-color: #c9e6f2;
    padding: 1.5rem;
    align-items: center;
       margin: 20px;



}

#om .col img {
    flex-grow: 2;
    flex-basis: 100px;
    width: 300px;
    height: 350px;
    align-items: center;


}

/*ÅBEN BOKS I CV*/
#box {
    background-color: #c9e6f2;
    position: relative;
    padding: 15px 10px 20px;
    flex-basis: 300px;
    flex-grow: 3;
    align-items: center;
    margin: 20px;
}

#box.lille {
    overflow: hidden;
    max-height: 250px;
    transition: max-height 0.5s ease-out;
}

#box.stor {
    max-height: 3000px;
    transition: max-height 1s ease-in;
}


/*Laver indhold vha css*/
#box.lille span:after {
    content: "+";
}

span:after {
    content: "-";
}


#mere .plus {
    /*    for at få den nærmere på bunden*/
    margin-top: 40px;

    /*    for at undgå at den opfører sit som et blockelement, og fylder hele bredden. */
    /*    Derved sikrer jeg at jeg kan bruge parrent text-align: center */
    display: inline-block;

    /*    selve plussets farve og størrelse samt baggrund*/
    color: black;
    font-weight: 800;
    width: 20px;
    height: 20px;
    background: white;
}


.brunt_overlay {
    /* for at få gradientbaggrunden til at fylde*/
    height: 60px;
    margin: 0;

    /* for at placere gradientbaggrunden i bunden */
    position: absolute;
    bottom: 0;
    left: 0;
    /*    For at sikre at den fylder hele sin parent ud i bredden*/
    width: 100%;

    /*    selve gradienten*/
    background: linear-gradient(rgba(159, 144, 125, 0), #c9e6f2);

    /*    for at placere plusset i midten*/
    text-align: center;

}


#web .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9e6f2;


}


#web .col {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
}

#ux .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9e6f2;


}


#ux .col {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
    align-items: center;
}

#ux .sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9e6f2;


}

#ux .col2 {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
    align-items: center;
}

#ux img {
    width: 20vw;
    height: 30vw;

}

#animation .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9e6f2;


}


#animation .col {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
    align-items: center;
}

#indhold .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9e6f2;


}


#indhold .col {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
    align-items: center;
}

#indhold .sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #c9e6f2;


}

#indhold .colto {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
    align-items: center;
}

#indhold .colto video {
    width: 40vw;
}


@media only screen and (max-width: 600px) {

    #menuknap {
        display: inline-block;
    }

    .hidden {
        display: none;


    }

    #menu a {
        display: block;


        /* This makes the menu horisontal */
    }

    #splash {
        width: 99vw;
        height: 100vh;
        background-image: url(billeder/lillespalsh.png);
        background-size: cover;
        background-position: 5%;
        max-width: none;
    }
}
